*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;

}

:root{
    --white : #fff;
    --black : #000;

    --fontExtraSmall : 18px;
    --fontSmall : 22px;
    --fontMedium : 34px;
    --fontMediumLarge : 48px;
    --fontLarge : 60px;
    --fontExtraLarge : 100px;

    --paddingExtraSmall : 8px;
    --paddingSmall : 16px;
    --paddingMedium : 32px;
    --paddingLarge : 48px;
    --paddingExtraLarge : 64px;

    --marginExtraSmall : 8px;
    --marginSmall : 16px;
    --marginMedium : 32px;
    --marginLarge : 48px;
    --marginExtraLarge : 64px;

    --fontOne : 'Montserrat', sans-serif;
    --fontTwo :  'Tilt Neon', cursive;


}
.link{
    text-decoration: none;
    color: var(--white);
    margin: 0px var(--marginSmall);
}
.showNav{
    transform: translateY(-120%);
}
.hidden{
    opacity: 0;
    transition: .7s all ease-in-out;
    transform: rotate(360deg);
    z-index: -1;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}